<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tocatapp.tocatapp">

    <application
        android:name=".TocataApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TocatappTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MusicianRegistrationOne"
            android:label="@string/ta_musicianRegistration" />
        <activity android:name=".activities.MusicianRegistrationTwo" />
        <activity android:name=".activities.MusicianRegistrationThree" />
        <activity android:name=".activities.Congratulations" />
        <activity
            android:name=".activities.MusiciansList"
            android:label="@string/ta_musicians_list" />
        <activity android:name=".activities.MusicianProfile"></activity>
    </application>

</manifest>